body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('snake.jpg');
    color: white;
    background-repeat: no-repeat;
}

#snake {
   opacity: 97%;
}